{% extends 'base.html'%}

{% block content%}
<div class="bg-secondary" style="height: 100vh;">

    <h3>Blogs page</h3>
    <a class="btn btn-primary" href="/blogs/makeblog">Create blog</a>

    <div class="card card-body">
        <ul>
            {%for blog in blogs%}
            <li><a href="{{url_for('main.comments',id=blog.id)}}">{{blog.title}}</a></li>
            {%endfor%}

        </ul>


    </div>
</div>

{% block footer %}
<div class="row">
    <div class="col-md-12">
        <div class="card-footer" style="height:10vh;font-size: 25px; display:flex; justify-content:center;border-top: 2px solid green;">
        <p>&copy; Copyright 2021 by <a href="/">iBlog</a>.</p>
    </div>
</div>

</div>
{% endblock %}
{%endblock%}