{%extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}
{%block content%}
<div class="blogpage">
    <h2>Enjoy reading</h2>
    <h4>{{blog.title}}</h4>
    <p>{{format_blog|safe}}</p>


    <h4>--Comments --</h4>
    <ul>
        {%for comment in comments %}
        <li>
            {{comment.comment}}
        </li>
        {%endfor%}
     </ul>

   


    <div class="row">

        <div class="col-md-2"></div>
        <div class="col-md-5">
            {{wtf.quick_form(commentform)}}
        </div>
        <div class="col-md-3"></div>

        <div class="col-md-2"></div>
    </div>
</div>

{%endblock%}