{%extends 'base.html'%}

{%block content%}

<div class="wrapper" style="background-color: rgb(3, 3, 51);">

   
    <div class="row">

        <div class=" col-md-6 left"
            style="display: flex; align-items: center;flex-direction:column; justify-content:center;">
            <h2>welcome to iBlog</h2>
            <h4>Have “fun”!</h4><br>
            <p>Do you have a handful of blogs that you follow purely for fun?</p>
            <a  class="btn btn-primary" href="{{url_for('main.blog',uname=current_user.username)}}">Read blogs</a>
        </div>

        <div class="col-md-6">
            <img src="https://images.unsplash.com/photo-1479920252409-6e3d8e8d4866?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80"
                alt="" style="float:right">

        </div>
    </div>


</div>

{%endblock%}